<div class="container">
    <button class="btn btn-primary" (click)="conectarADatos()">Conectar a datos</button>
    <button class="btn btn-primary" (click)="conectarASecuencia()">Conectar a secuencia</button>
    <button class="btn btn-primary" (click)="desconectarASecuencia()">Desconectar a secuencia</button>
    <button class="btn btn-primary" (click)="conectarAGeoLocation()">Conectar a geolocation</button>
    <button class="btn btn-primary" (click)="desconectarGeoLocation()">Desconectar a geolocation</button>
    <button class="btn btn-primary" (click)="conectarADatosConOperadores()">Probar conectarADatosConOperadores</button>

</div>